[submodule "zlc"]
	path = zlc
	url = git://github.com/mooz/emacs-zlc.git
[submodule "auto-highlight-symbol-mode"]
	path = auto-highlight-symbol-mode
	url = git://github.com/mitsuo-saito/auto-highlight-symbol-mode.git
[submodule "twittering-mode"]
	path = twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "navi2ch"]
	path = navi2ch
	url = git://github.com/naota/navi2ch.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
