[submodule "zlc"]
	path = zlc
	url = git://github.com/mooz/emacs-zlc.git
[submodule "auto-highlight-symbol-mode"]
	path = auto-highlight-symbol-mode
	url = git://github.com/mitsuo-saito/auto-highlight-symbol-mode.git
[submodule "twittering-mode"]
	path = twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "navi2ch"]
	path = navi2ch
	url = git://github.com/naota/navi2ch.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "zencoding"]
	path = zencoding
	url = https://github.com/rooney/zencoding.git
[submodule "jaunte"]
	path = jaunte
	url = git://github.com/kawaguchi/jaunte.el.git
[submodule "rainbow-delimiters"]
	path = rainbow-delimiters
	url = https://github.com/emacsmirror/rainbow-delimiters.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "yasnippet"]
	path = yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "slime"]
	path = slime
	url = https://github.com/emacsmirror/slime.git
[submodule "bm"]
	path = bm
	url = git://github.com/emacsmirror/bm.git
[submodule "Emacs-wgrep"]
	path = Emacs-wgrep
	url = git://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = git://github.com/jwiegley/haskell-mode.git
[submodule "emacs-w3m"]
	path = emacs-w3m
	url = git://github.com/sjatkinson/emacs-w3m.git
[submodule "emacs-skype"]
	path = emacs-skype
	url = git://github.com/kiwanami/emacs-skype.git
[submodule "ipa"]
	path = ipa
	url = https://github.com/emacsmirror/ipa.git
[submodule "anything"]
	path = anything
	url = https://github.com/emacsmirror/anything.git
[submodule "elib"]
	path = elib
	url = https://github.com/emacsmirror/elib.git
[submodule "emms"]
	path = emms
	url = git://github.com/emacsmirror/emms.git
[submodule "snippets-ext/nekop/java-mode"]
	path = snippets-ext/nekop/java-mode
	url = git://github.com/nekop/yasnippet-java-mode.git
[submodule "snippets-ext/chuwb"]
	path = snippets-ext/chuwb
	url = git://github.com/chuwb/yasnippet-java-topcoder.git
[submodule "snippets-ext/AndreaCrotti"]
	path = snippets-ext/AndreaCrotti
	url = git://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "snippets-ext/polypus74/haskell-mode"]
	path = snippets-ext/polypus74/haskell-mode
	url = git://github.com/polypus74/HSnippets.git
[submodule "c-eldoc"]
	path = c-eldoc
	url = https://github.com/emacsmirror/c-eldoc.git
[submodule "django-mode"]
	path = django-mode
	url = https://github.com/myfreeweb/django-mode.git
[submodule "Pymacs"]
	path = Pymacs
	url = git://github.com/pinard/Pymacs.git
