#name : html
# --
<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>HTML Page</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <meta name="my web page" content="http://www.ttoshi.jp">
  </head>
  <body>
  </body>
</html>
