#name : html
# --
<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>HTML Page</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <meta name="tototoshi web" content="http://tototoshi.com">
  </head>
  <body>
  </body>
</html>
