# -*- mode: snippet -*-
# name: testmain
# key: testmain
# --
if __name__ == '__main__':
  suite = unittest.TestLoader().loadTestsFromTestCase(${1:TestClass})
  unittest.TextTestRunner(verbosity=2).run(suite)
