# This was cloned from a TextMate bundle for yasnippet.
# --
\$.getScript('${1:path/to/file}'${2/(.+)/(?1:, function\(data, textStatus\) {
  :)/}${2://optional stuff to do after getScript}${2/(.+)/(?1:
}:)/});
$0