# This was cloned from a TextMate bundle for yasnippet.
# --
attr({
  ${1/^([^'"].+-.+)$|.+/(?1:':)/}${1:attribute1}${1/^([^'"].+-.+[^'"])$|.+/(?1:':)/}: ${3:'${2:value1}'}${4/([^,]).*|.+/(?1:,
  :)/m}${4:attribute2: 'value2'}
})$0