# This was cloned from a TextMate bundle for yasnippet.
# --
fadeTo(${1/(^[0-9]+$)|.+/(?1::')/}${1:slow/400/fast}${1/(^[0-9]+$)|.+/(?1::')/}, ${2:0.5}, function() {
	${0://Stuff to do *after* the animation takes place};
});