# This was cloned from a TextMate bundle for yasnippet.
# --
(function(\$) {
  \$.extend(\$.expr[':'], {
    ${1:selectorName}: function(element, index, matches, set) {
      $0
      return something;
    }
  });
})(jQuery);